<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css">
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div class="container">
        <header class="row row--center space_around w-100">
            <img class="logo" src="../img/logo.jpg" alt="Logo">
            <h1>KooMail <span>- Mail Client Services</span></h1>
            <div class="logo"></div>
        </header>
        <main>
            <div class="section">
                <form action="" class="box column">
                    <h1>Registro</h1>
                    <h2>Datos de la Cuenta</h2>
                    <label for="username">Usuario</label>
                    <input class="input" type="text" name="username">
                    <label for="password">Contraseña</label>
                    <input class="input" type="password" name="password">
                    <label for="password2">Repetir Contraseña</label>
                    <input class="input" type="password" name="password2">
                    <label for="email">Email</label>
                    <input class="input" type="email" name="email">
                    <h2>Datos Personales</h2>
                    <label for="first_name">Primer Nombre</label>
                    <input class="input" type="text" name="first_name">
                    <label for="second_name">Segundo Nombre</label>
                    <input class="input" type="text" name="second_name">
                    <div class="field">
                        <label for="gender">Sexo</label>
                        <input type="radio" name="gender" checked>M
                        <input type="radio" name="gender">F
                    </div>
                    <label for="id">Númera de Identidad</label>
                    <input class="input" type="text" name="id">
                    <div class="field">
                        <label for="nationality">Nacionalidad</label>
                        <input type="radio" name="nationality" value="venezolana" checked>V
                        <input type="radio" name="nationality" value="extranjera">E
                    </div>
                    <label for="phone">Teléfono</label>
                    <input class="input" type="text" name="phone">
                    <label for="city">Ciudad</label>
                    <div class="field">
                        <select class="input" name="city" id="">
                            <option value="caracas">Caracas</option>
                            <option value="valencia">Valencia</option>
                            <option value="maracay">Maracay</option>
                        </select>
                    </div>
                
                    <div class="form_button">
                        <button type="submit" class="form_button--primary">Registrar</button>
                        <button type="reset" class="form_button--secundary">Cancelar</button>
                    </div>
                    <span>¿Ya tiene un usuario? <a href="../index.html">Iniciar Sesión</a></span>
                </form>
            </div>
        </main>
        <footer>
            <p>Koomail, CA - Rif J-0123456789 &copy 2019</p>
        </footer>
    </div>
</body>

</html>
